.app{
    display: grid;
    place-items: center;
    background: linear-gradient(to top, #dadbd3 84%, #50b991 16%);
    height: 100vh;
}

.app__body {
    display: flex;
    height: 93vh;
    width: 82vw;
    margin-top: -15px;
    background-color: #ededed;
    box-shadow: -1px -4px 20px -6px rgba(0, 0, 0, 0.7);
}